* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    canvas#game {
        background: #000;
        background-image: url(./background-0.png);
        background-repeat: no-repeat;
        background-position: 0 32px;
        background-size: contain;
    }

    @supports (width: min(1px, 1dvw)) {
        width: 100dvw;
        height: 100dvh;
    }
}
